<header>
  <nav class="mt-40">
      <ul>
          <li routerLink="/home" routerLinkActive="active" ><i class="fas fa-home fs-25 "><p class="fs-10">Home</p></i></li>
          <li routerLink="/messages" routerLinkActive="active" ><i class="fas fa-envelope fs-25"><p class="fs-10">Messages</p></i></li>
          <li routerLinkActive="active"><i class="fas fa-star fs-25"><p class="fs-10">Wishlist</p></i></li>
          <li routerLinkActive="active"><i class="fas fa-cog fs-25"><p class="fs-10">Settings</p></i></li>
          <li routerLinkActive="active"><i class="fas fa-user fs-25"><p class="fs-10">My Account</p></i></li>
      </ul>
  </nav>
</header>