<div class="row relative">
  <div class="checkCircle">
      <input type="checkbox"  name="selectall" id="selectall">
      <label for="selectall"></label>
  </div>
  <input class="mb-20 absolute pa-rigth" type="text" id="searchTop" placeholder="&#xf002;  Search"><br>
</div>
<div class="row">
  <div class="mt-40" *ngFor="let item of deliveries; let i = index">
    <div class="col-10">
      <div class="checkCircle">
        <input type="checkbox"  [attr.name]="'deliver' + i" [attr.id]="'deliver' + i">
        <label [attr.for]="'deliver' + i"></label>
      </div>
    </div>
    <div class="col-90">
      <div class="delivery relative">
        <div class="date">
          <div class="title">
              {{item.date.dayOfWeek}}
          </div>
          <p>{{item.date.dayOfMonth}}<span>th </span> {{item.date.time}} <br>{{item.date.period}}</p>
        </div>
        <div class="cities">
          <div class="icon">
            <i class="fas fa-location-arrow color-text1"></i>
          </div>
          <div class="route">
            <p>{{item.address.origin}}</p>
            <i class="fas fa-angle-down "></i>
            <p>{{item.address.destination}}</p>
          </div>                                        
        </div>
          <div class="price">
            <div class="icon">
              <i class="fas fa-truck"></i>
            </div>  
            <p class="value">${{item.price | number}}</p>
            <span class="badge">{{item.quantity}}</span> 
                                                
          </div>
          <i class="fas fa-ellipsis-v menu-more pointer absolute"></i>    
      </div>
    </div><!-- col-90 -->
  </div>
</div><!-- row -->

<button type="button" class="button-float"><i class="fas fa-plus"></i></button>
