<div class="wrapper">       
  <app-sidebar></app-sidebar>
  <div class="content">
      <div class="container">
          <app-header></app-header>
          <router-outlet></router-outlet>         
      </div>                  
  </div> <!--content--> 
</div><!--wrapper--> 
