<div class="sidebar"> 
  <div class="logo center-align mt-40">
      <img src="../assets/logo-mockup.png" alt="logo">
  </div>
  <div class="wrap filters center-align mt-40">
      <p class="fw-thin  color-text1"><i class="far fa-lightbulb"> </i>  Smart Filter</p>
      <hr class="w-50">
      <div class="switch flex mtb-20">
          <i class="far fa-money-bill-alt color-text2 mr-20" style="font-size: 35px;"> </i>
          <input type="checkbox" id="sale" />
          <label for="sale">Toggle</label>
      </div>
      <div class="switch flex mtb-20">
          <i class="far fa-calendar-alt color-text2 mr-20" style="font-size: 35px;"> </i>
          <input type="checkbox" id="calendar" />
          <label for="calendar">Toggle</label>
      </div>
      <div class="switch flex mtb-20">
          <i class="far fa-heart color-text2 mr-20" style="font-size: 35px;"> </i>
          <input type="checkbox" id="like" />
          <label for="like">Toggle</label>
      </div>
      <hr class="w-50">
      <div class="">
          <p class="fw-thin  color-text1 mtb-20">Status</p>
          <input class="mb-20" type="text" id="search" placeholder="&#xf002;  Search"><br>
          <button class="btn">Delivered </button>
      </div>
      
  </div>
  
  

</div>