/* You can add global styles to this file, and also import other style files */

/* RESET STYLE BROWSERS ============================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:focus, li:focus, a:focus{
	outline: 0 !important;
}



/* RESET STYLE BROWSERS ============================= */

/* FORMS STYLES ============================= */

/* Swich ============== */
.switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch label {
	cursor: pointer;
	text-indent: -9999px;
	min-width: 80px;
	height: 40px;
	background: #193948;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 4px;
	width: 34px;
	height: 34px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switch input:checked + label {
	background: #EE8D38;
}

.switch input:checked + label:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

.switch label:active:after {
	width: 50px;
}

.flex {
    display: flex;
    justify-content: center;
}


/* check circle ============================= */

.checkCircle input[type=checkbox] {display: none;}
.checkCircle label{
	padding-left: 2em;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
}
.checkCircle label:before{
	content: '';
	border: solid 1px #9e9e9e;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0px;
	top:-8px;
	transition: all 0.2s;
	transform: rotate(0deg);
	display: inline-block;
	vertical-align: middle;
}

.checkCircle input[type=checkbox]:checked + label:before{
	border: 0px;
	background: #EE8D38;
	color: white;
	content: '\f00c';
	font-family: FontAwesome;
	transform: rotate(360deg);
	font-size:20px;
	line-height: 30px;
	text-align: center;
}

/* inputs ==============*/
input[type=text]{
    border: #c4c2c2 solid 1px;
    border-radius: 5px;
    height: 35px;
    text-align: center;
}

input[type=text]::placeholder {
    color:#c4c2c2;
    font-family: FontAwesome,roboto;
}



.btn{
    background: white;
    color: #383838;
    width: 170px;
    border: none;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-float {
    background: #EE8D38; 
    color: white;
    border: none;
    font-size: 30px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
}




/* FORMS STYLES ============================= */









body {
    font-family: 'Roboto', sans-serif;
    background:#E6E6E6;
}
p{
    font-family: 'Roboto', sans-serif;
}


/* Colors ================ */
.color-text1{
    color:#858585;
}

.color-text2{
    color:#686868;
}



.wrapper{
    margin:0px auto;
}

.wrap {
    padding: 20px;
}


.sidebar {
    width: 30%;
    /* height: 100vh; */
}

.sidebar, .content{
    display: inline-block;
    vertical-align: top;
    margin:0px;
}

.content {
    width:69%;
    
}
.container{
    width: 87%;
    margin: 0 auto;
}


.center-align {
    text-align: center;
}

/* Margins================ */
.mt-40{
    margin-top:40px;
}
.mt-60{
    margin-top:60px;
}

.mtb-20{
    margin: 20px 0;
}

.mr-20{
    margin-right: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

/* widths ==============*/
.w-50{
    width: 50%;
     
}

/* Font weight ===================*/
.fw-ligth{
    font-weight: 300;
}
.fw-thin{
    font-weight: 100;
}
.fw-medium{
    font-weight: 500;
}
.fw-bold{
    font-weight: 700;
}

.fs-12{
    font-size: 12px;
}
.fs-10{
    font-size: 10px;
}

.fs-30{
    font-size: 30px;
}
.fs-25{
    font-size: 25px;
}




/* header ======================= */
header{
    width: 100%;
}

/* nav ========== */
nav{
    height: 50px;
    background: #fff;
}

nav ul{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-around; */
    text-align: center;
}
nav ul li{
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: center;  
    width: 20%;
    color: #383838;
    
}
nav ul li:hover{
    background: #193948;
    color: white;
    cursor:pointer;
}

nav ul .active{
    background: #193948;
    color: white;
}

.row{
    margin: 20px 0;
}

.rigth{
    float: right;
    line-height: -40px;
}

/* positions ===== */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.pa-rigth{
    right: 0px;
    top:0;
}

/* columnas ================== */
.col-10{
    width: 10%;    
}

.col-90{
    width: 89%; 
}

.col-10, .col-90{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

/* deliver item ================== */
.delivery{
    width: 100%;
    /* height: 70px; */
    padding: 20px 0;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: #858585;
}

.delivery .date {
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    border-right: #383838 solid 1px;
    
}
    .delivery .date p {position: relative;}  
    .delivery .date p span{
        font-size: 8px;        
    }

.delivery .cities  {
    padding: 0 30px;
    border-right: #383838 solid 1px;
    
    /* text-align: center; */
}  
    .delivery .cities .icon, .delivery .cities .route {
        display: inline-block;
        vertical-align: middle; 
    }

    .delivery .cities .route {
        text-align: center;
        margin-left: 5px;
        font-size: 11px;
    }
    .delivery .cities .route .fa-angle-down {
        font-size: 30px;
        color: #EE8D38;
    }

.delivery .price{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
    .delivery .price .icon{
        font-size: 40px;
        margin-right: 20px;
    }
    .delivery .price .value{
        font-size: 25px;
        margin-right: 10px;
    }
    .delivery .price .badge{
        background: #ED5356;
        color: white;
        padding: 8px 10px ;
        font-size: 10px;
        border-radius: 7px;
        margin-right: 10px;
    }
    .delivery .menu-more{
        right: 20px;
    }


.pointer{
    cursor: pointer;
}



